.background-p {
    background-color: rgb(6, 179, 247);
}

.selected {
    color: #fff;
    background-color: rgb(143, 71, 210);

}

.selected:hover {
    text-shadow: 0 0 100px #fff;
    color: rgb(143, 71, 210) !important;
    background-color: #fff;

}

.image-container {}

.card-img-style {
    height: 200px;
    object-fit: cover;
}

.tabla-normal th,.tabla-normal td{
    text-align:center;
}
.tabla-normal tr td:last-child{
    text-align:right;
    padding-right:10px;
}

.tabla-normal, .tabla-normal tr,.tabla-normal th,.tabla-normal td{
    border: 1px solid black;
    border-collapse: collapse;
}

#cart_count {
    background-color: #febd69;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
  }